*{margin:0;padding:0;list-style: none;color:rgb(54, 54, 54)}
/*.header{height:150px; background-color:beige}
.header ul{float:right;padding-top:32px;margin-right:50px;}
.header li{float:left;font-size: 20px;padding:30px;}*/

.section{margin-top:50px;}
.section ul{margin:0 auto;width:700px;}
.section li{float:right;padding:20px 40px;border:1px solid rgb(140, 139, 139);}

section{margin:0 auto;width:462px;margin-top:50px;}
section td{padding:10px;}
section input{width:300px;}

/*footer {width: 100%;height: 210px;background-color:beige;}
footer li{padding-top:10px;}
footer ul{text-align:center;}*/

.section li:hover{background-color:rgb(79, 85, 232);color:white;}