@section Styles 
{
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/product/product.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>


    <style>
        .hide {
            color: red;
            list-style: none;
            /*display: none;*/
        }

        #products:hover .hide {
            display: block;
            color: forestgreen
        }

        <style >
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        span, i {
            color: white;
        }
    </style>
}

<div id="app">
<div class="container">
    <div class="text-center" style="margin-bottom: 20px;margin-top: 50px;">
        <h2 class="section-heading text-uppercase">全部商品</h2>
        <h3 class="section-subheading text-muted">All Products</h3>
        <div class="dropdown" style="text-align: right;">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                商品排序
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>

            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                每頁顯示
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>

            <div class="row" style="display:flex;">
            <div class="card col-md-4" v-for="p in showProduct" style="width: 18rem;margin: 10px;flex-direction: column;">
            <img src="~/image/fruit/grape/p32.jpg" class="card-img-top img" />
            <div class="card-body">
                <h5 class="card-title">A</h5>
                <p class="card-text">${{p.orderPrice}}</p>
                <a href="#" class="btn btn-primary" style="cursor:pointer" onclick="openNav()">加入購物車</a>
            </div>
        </div>
    </div>
</div>
</div>


<div id="mySidenav" class="sidenav" style="margin-top: 0px;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div style="margin:10px">
        <img src="~/image/fruit/grape/p32.jpg" style="width: 30%; height: 30%;">
        <span>青蘋果</span>
        <span>$350</span>
        <i class="fa-solid fa-trash-can"></i>
    </div>
    <div style="text-align:center;margin-top: 60px;"><button type="button" class="btn btn-primary Checkout">訂單結帳</button></div>
</div>
</div>

@section Scripts
{

    <script src="https://unpkg.com/vuejs-paginate@0.9.0" ></script>        @*  Vue分頁用 *@
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
                var baseAddress = "https://localhost:7099";
        Vue.component('paginate', VuejsPaginate);   //Vue分頁用
        let app = new Vue({
            el: "#app",
            data: {
                currentPage: 1,      //Vue分頁用
                itemPerPage: 8,      //Vue分頁用，一頁要幾筆
                products: []
            },
            computed: {                     //Vue分頁功能用
                showProduct: function () {
                    var start = (this.currentPage - 1) * this.itemPerPage;
                    var end = start + this.itemPerPage;
                    return this.products.slice(start, end) //Vue分頁過篩
                }
            },
            mounted: function () {
                this.getProducts();
            },
            methods: {
                getProducts: function () {
                    let self = this
                    fetch(`${baseAddress}/api/Member/GetOrderHistory`
                    ).then(x => x.json()).then(z => self.products = z)
                },
                changePage: function (num) {    //Vue分頁用
                    this.currentPage = num;
                }
            }

        })

        $(".img").click(function () {
            @Url.ActionLink("Pay", "cart")
                window.location.href='@Url.ActionLink("ProductPage", "Products")';
        });

        //加入購物車
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        $(".Checkout").click(function () {
        @Url.ActionLink("Pay", "payment")
                window.location.href='@Url.ActionLink("payment", "Pay")';
        });
</script>
}

