
<h1 style="text-align:center">About Us</h1>

<div class="container" style="display:flex;justify-content: center">
<div style="width:500px;line-height:25px;margin-right:50px">
    <h2>BRAND STORY</h2>
    <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptatem, similique inventore unde animi rerum aperiam
        vel corrupti porro iure modi quidem assumenda debitis quod minus magnam facere? Molestias, amet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptatem, similique inventore unde animi rerum aperiam
    </span>
</div>

<div style="width:500px;">
    <img src="~/image/fruit/watermelon/p10.jpg" style="width:200px"/>
    <img src="~/image/fruit/waxapple/p22.jpg" style="width:200px" />
    <img src="~/image/fruit/fruitgiftbox/p47.jpg" style="width:200px" />
    <img src="~/image/fruit/cherry/p26.jpg" style="width:200px" />
</div>

</div>